
.cabeca { 
display: flex;
justify-content: space-between;
}
header {
    background-color: #636363;
}
h5 {
    align-items: center;
    color: white;
}
.porra {
    display: flex;
    justify-content: end;
}
li {
    margin: 1vw;
    color: white;
    
}
.lista ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
h1 {
    color: white;
    font-size: 2vw;
    margin: 2vw;
} 